#height {
    top: 100%;
    border-top: 2px solid red;
    position: absolute;
    width: 100%;
}

#heightBlock {
    top: 52.5%;
    height: 40%;
    left: 95%;
    position: absolute;
    /*width: 1.5%;*/
    width: 1%;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    opacity: 1;
}

#centerLine {
    /*left: 50%;*/
    left: 100%;
    opacity: 1;
    position: absolute;
    width: 1%;
    border-left: 3px solid black;
    
    border-top: 3px solid black;
    height: 100%;
}

#digital {
    font-family: Arial;
    color: red;
    position: absolute;
    top: 95%;
    left: 94%;
    font-size: 150%;
    -webkit-user-select: none;
}

#advice {
    font-family: Arial;
    color: orange;
    position: absolute;
    top: 87%;
    left: 91%;
}
