/* To Do */

@font-face {
    font-family: "Digital-7 Mono";
    src: url(fonts/digital-7_mono.ttf);
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url('fonts/montserrat-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url('fonts/montserrat-bold.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

#set, #defuser {
    
    width: 50%;
    height: 25%;
    
    background-color: #263240;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    top: 60%;
    position: absolute;
    left: 50%;
    margin: auto;
    margin-left: -25%;
}

.defuserCode {
    font-size: 200%;
    width: auto;
    display: inline-block;
    padding: 1%;
    background-color: grey;
    top: 35%;
    font-family: "Digital-7 Mono";
}

#def1 {
    left: 20%;
    position: absolute;
}

#def2 {
    left: 40%;
    position: absolute;
}

#def3 {
    left: 60%;
    position: absolute;
}

#def4 {
    left: 80%;
    position: absolute;
}

#timer {
    color: white;
    width: 100%;
    top: 10%;
    text-align: center;
    font-size: 250%;
    position: fixed;
    font-family: "Digital-7 Mono";
}

#secondSettings {
    float: right;
    top: 30%;
    /*right: 30%;*/
    left: 60%;
    position: absolute;
}

#typeDetonatorSettings {
    background-color: grey;
    padding: 4%;
}

th {
    color: white;
}

#message {
    top: 90%;
    font-family: Arial;
    position: fixed;
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: black 2px 2px 2px;
    font-size: 125%;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.3px black;
    font-weight: bold;
}

#button {
    padding: 10px 10px 10px 10px;
    background-color: red;
    color: white;
    border-radius: 5px;
    border-color: red;
    font-size: 120%;
}

#button:hover { 
    background-color: #C10000;
    border-color: #C10000;
    color: white;
}

#button:active {
    background-color: #C10000;
    border-color: #C10000;
    color: #bfbfbf;
}
